.Ticker {
  text-align: center;
}

.Ticker-logo {
  height: 40vmin;
  pointer-events: none;
}

.Ticker-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.Ticker-searchbar {
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #959296;
  border-radius: 0px;
  font-size: 16px;
  background-color: white; 
  background-repeat: no-repeat;
  padding: 2px 25px 8px 10px;
}

