.Ticker {
  text-align: center;
}

.Ticker-logo {
  height: 40vmin;
  pointer-events: none;
}

.Ticker-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

